html {
  background-color: #78d1bb;
  font-family: arial;
  font-size: 1rem;
  }

  blockquote {
  padding: 1;
  font-family: 'Lobster', cursive;
}

h1, h2 {
  font-family: 'Bevan', cursive;
  color: #3b6d61;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1;
}

ol { list-style-type: none;
    padding: 0;
  }
  
a {
  color: white;
}
a:hover {
  color: blue;

}

figcaption {

  font-style: italic;
  font-size: .75rem;
  padding: 2;
}
cite {

  font-size: .25rem;
  text-align: center;
  float: right;
  line-height: 2;

}
p{
  line-height: 1.5;
}

ul{

  list-style-type: lower-roman;

}
html
